@mixin colors {
    --color-white: #fff;
    --color-low-grey: #f5f5f5;
    --color-grey: #bfbfbf;
    --color-strong-grey: #535151;
    --color-black: #242221;
    --color-blue: #1e24bd;
    --color-red: #e00000;
    --color-transparent: #00000000;
}