.btn {
    padding-left: var(--spacing-12);
    padding-right: var(--spacing-12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--input-and-btn-height);
    border-radius: var(--border-radius-4);
    gap: var(--spacing-12);
}

.btn--filled {
    background-color: var(--color-black);
    color: var(--color-white);
}

.btn--text {
    color: var(--color-black);
    background-color: var(--color-transparent);

    &:hover {
        background-color: var(--color-grey);
    }
}