.chip {
    padding: var(--spacing-8) var(--spacing-12);
    border-radius: var(--border-radius-4);
}

.chip--btn--selected {
    background-color: var(--color-black);
    color: var(--color-white);
}

.chip--btn--unselected {
    background-color: var(--color-transparent);
    color: var(--color-black);
    border: var(--border-width-1) solid var(--color-black);
}

.chip--descriptor {
    background-color: var(--color-low-grey);
}