.footer-nav {
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-32);
    padding-left: var(--spacing-32);
    padding-right: var(--spacing-32);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: flex-start;

    @include breakpoint($break-large) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}